<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REPLICATE_API_TOKEN</key>
	<string>YOUR_TOKEN_HERE</string>
	<key>REPLICATE_MODEL</key>
	<string>chigozienri/ip_adapter-sdxl</string>
	<key>REPLICATE_MODEL_VERSION</key>
	<string>7a8ccb5aa6da0e63cb24bc68a1f668c012c0088fb3031adc47577085c8d2f606</string>
</dict>
</plist>
