<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REPLICATE_API_TOKEN</key>
	<string>YOUR_TOKEN_HERE</string>
	<key>REPLICATE_MODEL</key>
	<string>chigozienri/ip_adapter-sdxl</string>
</dict>
</plist>
