<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DASHSCOPE_API_KEY</key>
	<string>YOUR_API_KEY_HERE</string>
	<key>DASHSCOPE_BASE_URL</key>
	<string>https://dashscope.aliyuncs.com</string>
	<key>DASHSCOPE_MODEL</key>
	<string>wan2.6-image</string>
</dict>
</plist>
